/* Profiles.css */
.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .profile {
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .profile img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .social-media {
    margin-top: 10px;
  }
  
  .social-media a {
    display: inline-block;
    margin: 5px;
    font-size: 24px;
    color: #0074bd; /* Adjust the color as needed */
    text-decoration: none;
  }
  